@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Your Scheduler</title>
</head>
    <body>
        <div class="text-center banner">
            <h1 class="display-4">Welcome To Scheduler</h1>
            <div style="display: flex;justify-content: center;">
                <a style="width: 50%;font-weight: bold" asp-controller="Tasks" asp-action="Index" class="btn btn-primary">Start Now</a>
            </div>
        </div>
    </body>
</html>
